*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style-type:none
}
:root{
  --mainfont: "Lato", sans-serif;
  --primarycolor: #FB2E86;
  --succsscolor: #08D15F;
  --mainfontcolor: #0D0E43;
}

@media screen and (min-width: 1401px){
  .container{
  width: calc(100% - 320px);
  margin: auto;
  }
}
@media screen and (max-width: 1400px){
  .container{
  width: calc(100% - 200px);
  margin: auto;
  }
}
@media screen and (max-width: 992){
  .container{
  width: calc(100% - 100px);
  margin: auto;
  }
} 
@media screen and (max-width: 570){
  .container{
  width: calc(100% - 50px);
  margin: auto;
  }
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.btn{
  border: none;
  outline: none;
  color: #fff;
  padding: 16px 40px;
  border-radius: 2px;
}
.btn-primary{
  background-color: var(--primarycolor);
}
.btn-success{
  background-color: var(--succsscolor);
}
.text-white{
  color: #fff;
}
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.gap-5{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-20{
  gap: 20px;
}
.gap-25{
  gap: 25px;
}
.gap-30{
  gap: 30px;
}
.gap-35{
  gap: 35px;
}
.gap-40{
  gap: 40px;
}
.gap-45{
  gap: 45px;
}