*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style-type:none
}
:root{
  --mainfont: "Josefin Sans", sans-serif;
  --primarycolor: #FB2E86;
  --succsscolor: #08D15F;
  --mainfontcolor: #0D0E43;
}

@media screen and (min-width: 1401px){
  .container{
  width: calc(100% - 320px);
  margin: auto;
  }
}
@media screen and (max-width: 1400px){
  .container{
  width: calc(100% - 200px);
  margin: auto;
  }
}
@media screen and (max-width: 992px){
  .container{
  width: calc(100% - 100px);
  margin: auto;
  }
} 
@media screen and (max-width: 570px){
  .container{
  width: calc(100% - 50px);
  margin: auto;
  }
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.btn{
  border: none;
  outline: none;
  color: #fff;
  padding: 15px 30px;
  border-radius: 2px;
}
.btn-primary{
  background-color: var(--primarycolor);
}
.btn-success{
  background-color: var(--succsscolor);
}
.shop-btn{
  transition: all .5s;
}
.shop-btn:hover{
  background-color: #151875;
}
.text-white{
  color: #fff;
}
.text-pink{
  color: var(--primarycolor);
}
.text-dark-blue{
  color: #151875;
}
.text-Periwinkle{
  color: #8A8FB9;
}
.text-red{
  color: #ff0000;
}
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.gap-5{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-20{
  gap: 20px;
}
.gap-25{
  gap: 25px;
}
.gap-30{
  gap: 30px;
}
.gap-35{
  gap: 35px;
}
.gap-40{
  gap: 40px;
}
.gap-45{
  gap: 45px;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.pad-5{
  padding: 5px;
}
.pad-t-5{
  padding-top: 5px;
}
.pad-b-5{
  padding-bottom: 5px;
}
.pad-l-5{
  padding-left: 5px;
}
.pad-r-5{
  padding-right: 5px;
}
.pad-10{
  padding: 10px;
}
.pad-t-10{
  padding-top: 10px;
}
.pad-b-10{
  padding-bottom: 10px;
}
.pad-l-10{
  padding-left: 10px;
}
.pad-r-10{
  padding-right: 10px;
}
.pad-15{
  padding:15px;
}
.pad-t-15{
  padding-top:15px;
}
.pad-b-15{
  padding-bottom:15px;
}
.pad-l-15{
  padding-left:15px;
}
.pad-r-15{
  padding-right:15px;
}
.pad-20{
  padding: 20px;
}
.pad-t-20{
  padding-top: 20px;
}
.pad-b-20{
  padding-bottom: 20px;
}
.pad-l-20{
  padding-left: 20px;
}
.pad-r-20{
  padding-right: 20px;
}
.pad-25{
  padding: 25px;
}
.pad-t-25{
  padding-top: 25px;
}
.pad-b-25{
  padding-bottom: 25px;
}
.pad-l-25{
  padding-left: 25px;
}
.pad-r-25{
  padding-right: 25px;
}
.pad-30{
  padding: 30px;
}
.pad-t-30{
  padding-top: 30px;
}
.pad-b-30{
  padding-bottom: 30px;
}
.pad-l-30{
  padding-left: 30px;
}
.pad-r-30{
  padding-right: 30px;
}
.pad-35{
  padding: 35px;
}
.pad-t-35{
  padding-top: 35px;
}
.pad-b-35{
  padding-bottom: 35px;
}
.pad-l-35{
  padding-left: 35px;
}
.pad-r-35{
  padding-right: 35px;
}
.pad-40{
  padding: 40px;
}
.pad-t-40{
  padding-top: 40px;
}
.pad-b-40{
  padding-bottom: 40px;
}
.pad-l-40{
  padding-left: 40px;
}
.pad-r-40{
  padding-right: 40px;
}
.mar-5{
  margin: 5px;
}
.mar-t-5{
  margin-top: 5px;
}
.mar-b-5{
  margin-bottom: 5px;
}
.mar-l-5{
  margin-left: 5px;
}
.mar-r-5{
  margin-right: 5px;
}
.mar-10{
  margin: 10px;
}
.mar-t-10{
  margin-top: 10px;
}
.mar-b-10{
  margin-bottom: 10px;
}
.mar-l-10{
  margin-left: 10px;
}
.mar-r-10{
  margin-right: 10px;
}
.mar-15{
  margin: 15px;
}
.mar-t-15{
  margin-top: 15px;
}
.mar-b-15{
  margin-bottom: 15px;
}
.mar-l-15{
  margin-left: 15px;
}
.mar-r-15{
  margin-right: 15px;
}
.mar-20{
  margin: 20px;
}
.mar-t-20{
  margin-top: 20px;
}
.mar-b-20{
  margin-bottom: 20px;
}
.mar-l-20{
  margin-left: 20px;
}
.mar-r-20{
  margin-right: 20px;
}
.mar-25{
  margin: 25px;
}
.mar-t-25{
  margin-top: 25px;
}
.mar-b-25{
  margin-bottom: 25px;
}
.mar-l-25{
  margin-left: 25px;
}
.mar-r-25{
  margin-right: 25px;
}
.mar-30{
  margin: 30px;
}
.mar-t-30{
  margin-top: 30px;
}
.mar-b-30{
  margin-bottom: 30px;
}
.mar-l-30{
  margin-left: 30px;
}
.mar-r-30{
  margin-right: 30px;
}
.mar-35{
  margin: 35px;
}
.mar-t-35{
  margin-top: 35px;
}
.mar-b-35{
  margin-bottom: 35px;
}
.mar-l-35{
  margin-left: 35px;
}
.mar-r-35{
  margin-right: 35px;
}
.mar-40{
  margin: 40px;
}
.mar-t-40{
  margin-top: 40px;
}
.mar-b-40{
  margin-bottom: 40px;
}
.mar-l-40{
  margin-left: 40px;
}
.mar-r-40{
  margin-right: 40px;
}
.mar-l-auto{
  margin-left: auto;
}
.mar-r-auto{
  margin-right: auto;
}
.mar-auto{
  margin: 0 auto;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-evenly{
  justify-content: space-evenly;
}
.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: flex-start;
}
.align-items-end{
  align-items: flex-end;
}
.d-none{
  display: none;
}
.visib-hid{
  visibility: hidden ;
}
.visib{
  visibility: visible;
}
.w-100{
  width: 100%;
}
.w-75{
  width: 75%;
}
.w-50{
  width: 50%;
}
.w-33{
  width: 33.33%;
}
.w-25{
  width: 25%;
}
.w-10{
  width: 10%;
}
.w-5{
  width: 5%;
}
.txt-uppercase{
  text-transform: uppercase;
}
.txt-capetlize{
  text-transform:capitalize;
}
.txt-lowercase{
  text-transform: lowercase;
}
.txt-underline{
  text-decoration-line: underline;
}
.txt-line-through{
  text-decoration-line:line-through;
}
.txt-over-line{
  text-decoration-line: overline;
}
.txt-style-solid{
  text-decoration-style: solid;
}
.txt-style-dotted{
  text-decoration-style: dotted;
}
.txt-style-dashed{
  text-decoration-style: dashed;
}
.txt-style-wavy{
  text-decoration-style: wavy;
}
.txt-style-double{
  text-decoration-style: double;
}
.txt-decoration-none{
  text-decoration: none;
}
.font-italic{
  font-style: italic;
}
.font-normal{
  font-style: normal;
}
.font-oblique{
  font-style: oblique;
}
.font-w-100{
  font-weight: 100;
}
.font-w-200{
  font-weight: 200;
}
.font-w-300{
  font-weight: 300;
}
.font-w-400{
  font-weight: 400;
}
.font-w-500{
  font-weight: 500;
}
.font-w-600{
  font-weight: 600;
}
.font-w-700{
  font-weight: 700;
}
.font-w-800{
  font-weight: 800;
}
.font-w-900{
  font-weight: 900;
}
.overflow-hid{
  overflow: hidden;
}
.overflow-scroll{
  overflow: scroll;
}
.overflow-auto{
  overflow: auto;
}
.overflow-x-hid{
  overflow-x: hidden;
}
.overflow-x-scroll{
  overflow-x: scroll;
}
.overflow-y-hid{
  overflow-y: hidden;
}
.overflow-y-scroll{
  overflow-y: scroll;
}
.new-section{
  padding: 100px 0;
}