body{
  font-family: var(--mainfont);
}
/* header start */
.header{
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 47px 0 35px;
}
.bar{
  display: none;
}
.list a{
  color: var(--mainfontcolor);
}
.header .active{
  color: var(--primarycolor);
}
.search form{
  border: solid 1px #E7E6EF;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.search input{
  border: none;
  outline: none;
  width: 200px;
  padding-left: 5px;
}
.search button{
  border: none;
  outline: none;
  background-color: var(--primarycolor);
  padding: 8px 13px;
}
.search .search-icon{
  width: 20px;
}
@media screen and (max-width:1100px) {
  .header .list, .header .search{
    display: none;
  }
  .header .bar{
    display: block;
  }
}
/* header end */
/* clients start */
.clients{
  padding: 50px 0;
}
.clients .row{
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}
.clients .logo{
  width: calc((100% - 75px) / 6);
}
.clients .logo img{ 
  width: 100px;
  height: 100px;
}
@media screen and (max-width:992px){
  .clients .logo{
    width: calc((100% - 30px) / 3);
  }
}
@media screen and (max-width:530px){
  .clients .logo{
    width: calc((100% - 15px) / 2);
  }
}
@media screen and (max-width:430px){
  .clients .logo{
    width: 100%;
  }
}

/* clients end */
/* footer start */
.footer{
  background-color: #EEEFFB;
  padding: 50px 0;
  color: #8A8FB9;
}
.footer .row{
  gap: 30px;
  align-items: flex-start; 
}
.footer .left-side{
  align-items: flex-start;
  flex-grow: 1;
}
.footer .left-side form{
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;
  padding: 2px 0;
  align-items: stretch;
}
.footer .left-side input{
  border: none;
  outline: none;
  padding-left: 5px;
}
.footer .left-side input::placeholder{
  color: #8A8FB9;
}
.footer .left-side button{
  border: none;
  outline: none;
  background-color: var(--primarycolor);
  padding: 8px 13px;
  border-radius: 3px;
}
.footer .left-side .class-info{
  font-style: normal;  
}
.footer .left-side .class-info h2{
  font-size: 17px;
  font-weight: 400;
}
.footer .right-side .row{
  gap: 45px;
}
.footer .right-side{
  flex-grow: 1;
}
.footer-item{
  flex-grow: 1;
}
.footer .right-side h2{
  color: #000;
}
.footer .right-side a{
  color: #8A8FB9;
}
@media  screen and (max-width: 992px) {
  .footer .left-side, .footer .right-side{
    width: 100%;
  }
}
@media  screen and (max-width: 576px) {
  .footer{
    text-align: center;
  }
  .footer-item{
    width: 100%;
  }
}
/* footer end */
/* Copyright start */
.Copyright{
  background-color: #E7E4F8;
  color: #9DA0AE;
  padding: 20px 0;
  font-size: 17px;
}
/* Copyright end */