body{
  font-family: var(--mainfont);
}
/* header start */
.header{
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 47px 0 35px;
}
.bar{
  display: none;
}
.list a{
  color: var(--mainfontcolor);
}
.header .active{
  color: var(--primarycolor);
}
.search form{
  border: solid 1px #E7E6EF;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.search input{
  border: none;
  outline: none;
  width: 200px;
  padding-left: 5px;
}
.search button{
  border: none;
  outline: none;
  background-color: var(--primarycolor);
  padding: 8px 13px;
}
.search .search-icon{
  width: 20px;
}
@media screen and (max-width:1100px) {
  .header .list, .header .search{
    display: none;
  }
  .header .bar{
    display: block;
  }
}
/* header end */
/* hero start */
.hero{
  background-color: #F2F0FF;
  padding: 50px 0;
}
.hero .hero-content{
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 0 60%;
}
.hero-content .hero-lamp{
  position: relative;
  bottom: 72px;
  right: 90px;
  align-items: flex-start;
  flex: 1 0 10%;
}
.hero-content .hero-lamp img{
  width: 300%;
}
.hero .text-content{
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1 0 90%;
}
.hero .text-content h1{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 170%;
}
.hero .text-content p{
  line-height: 28px;
}
.hero .shop-btn{
  margin-top: 20px;
}
.hero-image{
  flex: 1 0 35%;
}
.hero-image img{
  width: 100%;
}
@media screen and (max-width:576px){
  
}
/* hero end */
/*featured product start */
.featured-products{
  padding: 50px 0;
}
.featured-products h2{
  margin-bottom: 50px;
  font-size: 32px;
  font-family: "Josefin Sans", sans-serif;
}
.featured-products .row{
  gap: 15px ;
}
.featured-products .product{
  flex: 1 0 200px;
  box-shadow: 0px 0px 25px #0000001a;
  border-radius: 4px;
}
.featured-products .product-image{
  background-color: #F6F7FB;
  height: 270px;
  object-fit: contain;
  align-items: center;
  position: relative;
}
.featured-products .product-image .sofa-image{
  margin-top: 10px;
}
.featured-products .action-buttons{
  text-align:start;
  position: absolute;
  left: 10px;
  top: 10px;
  display: none;
}
.featured-products .action-buttons .action{
  align-items: baseline;
}
.featured-products .action-buttons .action button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.featured-products .action-buttons .action button:focus {
  background-color: #eeeffb;
  box-shadow: 0px 0px 4px #0000000d;
}
.featured-products .action-buttons .action button:focus {
  color:#6155F5
}
.product:hover .action-buttons {
  display: flex;
  gap: 10px;
}
.featured-products .details-btn{
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  display: none;
  transition: all .6s;
}
.product:hover .details-btn {
  display: block;
}
.featured-products .details-btn:hover{
  color: #00009D;
}
.featured-products .color-option .color{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  width: 15px;
  height: 4px;
}
.featured-products .btn{
  padding: 10px 15px;
}
.featured-products .color-option .color-1{
  background-color: #05E6B7;
}
.featured-products .color-option .color-2{
  background-color: #F701A8;
}
.featured-products .color-option .color-3{
  background-color: #00009D;
  transition: all .6s;
}
.featured-products .color-option .color:focus{
  border: black solid .2px;
}
.featured-products .product-info{
  font-family: "Josefin Sans", sans-serif;
  transition: all .6s;
}
.product:hover .product-detailes{
  background-color: #2F1AC4;
}
.featured-products .product-detailes{
  transition: all .6s;
}
.product:hover .product-detailes h3{
  color: #fff;
}
.featured-products .product-detailes h3{
  transition: all .6s;
}
.product:hover .product-info{
  color: #fff;
}
.product:hover .color-option .color-3{
  background-color: #FFEAC1;
}
/* featured product end */
/* newslater start */
.newslater{
  background: url("./img/public/newslater-bg.webp");
  background-position: center;
  background-size: cover;
  padding: 175px 0;
  text-align: center;
}
.newslater h2{
  margin: 30px;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
}
/* newslater end */
/* clients start */
.clients{
  margin: 50px 0;
  padding: 50px 0;
}
.clients .row{
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}
.clients .logo{
  width: calc((100% - 75px) / 6);
}
.clients .logo img{
  width: 100px;
  height: 100px;
}
@media screen and (max-width:992px){
  .clients .logo{
    width: calc((100% - 30px) / 3);
  }
}
@media screen and (max-width:530px){
  .clients .logo{
    width: calc((100% - 15px) / 2);
  }
}
@media screen and (max-width:430px){
  .clients .logo{
    width: 100%;
  }
}
/* clients end */
/* footer start */
.footer{
  background-color: #EEEFFB;
  padding: 50px 0;
  color: #8A8FB9;
}
.footer .row{
  gap: 30px;
  align-items: flex-start;
}
.footer .left-side{
  align-items: flex-start;
  flex-grow: 1;
}
.footer .left-side form{
  border-radius: 3px;
  display: flex;
  flex-wrap: nowrap;
  padding: 2px 0;
  align-items: stretch;
}
.footer .left-side input{
  border: none;
  outline: none;
  padding-left: 5px;
}
.footer .left-side input::placeholder{
  color: #8A8FB9;
}
.footer .left-side button{
  border: none;
  outline: none;
  background-color: var(--primarycolor);
  padding: 8px 13px;
  border-radius: 3px;
}
.footer .left-side .class-info{
  font-style: normal;
}
.footer .left-side .class-info h2{
  font-size: 17px;
  font-weight: 400;
}
.footer .right-side .row{
  gap: 45px;
}
.footer .right-side{
  flex-grow: 1;
}
.footer-item{
  flex-grow: 1;
}
.footer .right-side h2{
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.footer .right-side a{
  color: #8A8FB9;
}
@media  screen and (max-width: 992px) {
  .footer .left-side, .footer .right-side{
    width: 100%;
  }
}
@media  screen and (max-width: 576px) {
  .footer{
    text-align: center;
  }
  .footer-item{
    width: 100%;
  }
  .footer .left-side{
    align-items: center;
  }
}
/* footer end */
/* Copyright start */
.Copyright{
  background-color: #E7E4F8;
  color: #9DA0AE;
  padding: 20px 0;
  font-size: 17px;
}
/* Copyright end */